:root {
    --theme-accent: #FFC700;
    --theme-main: #FFFFFF;
    --theme-bg: #222527;

    --theme-modal-bg: rgb(239 236 236 / 90%);
    --theme-btn-text: #060803;
    --theme-moto-text: #FFFFFF;
}

html, body {
    height: 100%;
    width: 100%;    
}

body {
    font-family: 'Montserrat', sans-serif;
}

.body-fixed {
    overflow: hidden;
}

.container {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

header {
    padding: 32px 0px 72px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about {
    height: 100%;
    width: 100%;
    background-image: url('../img/space.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
}

.about-name {
    color: var(--theme-accent);
    font-style: italic;
    font-weight: 900;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
}

.about-profession {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    color: var(--theme-main);
}

.about-positions {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    color: var(--theme-accent);
    list-style: disc;
    margin-left: 18px;
}

.about-positions-text {
    color: var(--theme-main);
}

.about-button {
    margin-top: 40px;
    border: 0;
    outline: 0;
    padding: 16px 32px 16px 32px;
    background: var(--theme-accent);
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-family: Montserrat;
    color: var(--theme-btn-text);
}

.about-description {
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-main);
}

.dark-vader {
    color: var(--theme-moto-text);
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-content-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 60px;
}

.darth-vader-img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.death-star-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: -96px;
    margin: auto;
    opacity: 0.4;
}

.achievements {
    padding: 60px 0px 60px 0px;
    background-color: var(--theme-bg);
}

.achievements-header {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-accent);
    margin-bottom: 64px;
}

.achievements-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.achievements-item-header {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-accent);
    margin-top: 32px;
    margin-bottom: 4px;
}

.achievements-item-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-main);
}

.achievements-item {
    width: 25%;
}

.achievements-icon {
    height: 60px;
    width: 60px;
}

.about-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 40%;
}

.social-link {
    margin-bottom: 20px;

}

.social-link svg {
    fill: var(--theme-accent);
}

/* Day 5 */

.codex {
    padding: 186px 0px;
    background-image: url('../img/space.jpg');
    background-size: cover;
    background-attachment: fixed;
}


.codex .container {
    flex-direction: row;

}

.codex-left-side, .codex-right-side {
    width: 50%;
}

.codex-motto {
    font-style: italic;
    font-weight: 900;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--theme-accent);
}

.codex-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-accent);
    margin-bottom: 32px;
}

.codex-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-main);
    margin-bottom: 4px;
}

.codex-annex {
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-main);
    margin: 56px 0 0 0;
    width: 573px;
}

.footer {
    padding: 60px 0;
    background-color: var(--theme-bg);
}

.footer .container {
    align-items: center;
}

.footer-title {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--theme-main);
    margin-bottom: 52px;
    width: 748px;
}

.footer svg {
    fill: var(--theme-accent);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;    
    width: 100%;
    background-color: var(--theme-modal-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.modal-form {
    padding: 40px 80px;
    background-color: var(--theme-bg);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal-form-title {
    color: var(--theme-accent);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
    text-align: center;
}

.modal-form-text {
    color: var(--theme-main);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}

.modal-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.modal-form-label {
    margin-bottom: 4px;
    color: var(--theme-main);
    font-size: 16px;
    line-height: 24px;
}

.modal-form-name, .modal-form-email {
    height: 40px;
    width: 440px;
    border: 1px solid var(--theme-main);
    padding: 4px;
    box-sizing: border-box;
    background: none;
}

.submit {
    border: 0;
    outline: 0;
    padding: 16px 32px 16px 32px;
    background: var(--theme-accent);
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-family: Montserrat;
    margin-top: 16px;
    color: var(--theme-btn-text);
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

.modal-success {
    padding: 64px 0 64px 0;
    background-color: var(--theme-bg);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.modal-success-title {
    color: var(--theme-accent);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 112px;
    text-align: center;
}

.modal-success-text {
    color: var(--theme-main);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 36px;
    width: 438px;
}

.logo svg, .achievements-icon svg, .modal-success-icon svg {
    fill: var(--theme-accent);
}

.close-icon svg {
    fill: var(--theme-main);
}

.about--light,
.codex--light {
    background-image: url("../img/stardust.jpg");
}